@model phoneshop.Models.Order

<h2 class="text-center mt-4">Checkout</h2>

<div class="container mt-4">

    <form asp-action="Checkout" method="post">

        <div class="mb-3">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Address</label>
            <input asp-for="Address" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Phone</label>
            <input asp-for="Phone" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Total Amount</label>
            <input asp-for="TotalAmount" class="form-control" readonly />
        </div>

        <button class="btn" style="background-color: orange; color: white; border: none;">
            Place Order
        </button>
    </form>

</div>