<div class="container text-center mt-5">

    <h2 class="text-success">
        Order Placed Successfully!
    </h2>

    <a asp-action="Index" class="btn mt-3" style="background-color: orange; color: white; border: none;">
        Continue Shopping
    </a>

</div>